---
import ContactUs from "@/sections/ContactUs.astro"
import Layout from "@/layouts/Layout.astro"
import Adventajes from "@/sections/Adventajes.astro"
import Discipleship from "@/sections/Discipleship.astro"
import Footer from "@/sections/FooterLanding.astro"
import Header from "@/sections/Header.astro"
import Hero from "@/sections/HeroLanding.astro"
import EventBanner from "@/sections/EventBanner.astro"

import { getLandingData } from "@/services/data.service"

const data = await getLandingData()
---

<Layout meta={data.meta}>
	<Header data={data.headerData} />
	<main class="flex flex-col items-center justify-center">
		<div class="w-full">
			<Hero data={data.heroData} />
		</div>
		<div class="w-3/4">
			<Adventajes data={data.adventajesData} />
			<Discipleship data={data.discipleshipData} />
			<EventBanner data={data.eventBannerData} />

			<ContactUs />
		</div>
		<Footer data={data.footerData} />
	</main>
</Layout>
