---
import jost from "@fontsource-variable/jost/files/jost-latin-wght-normal.woff2"
import atomic from "/fonts/atomic.woff2"

interface Props {
	title: string
	description: string
	preload?: Array<{
		as: string
		href: string
		type: string
	}>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image = "/img/og.jpg" } = Astro.props as Props

const canonicalURL = canonical
	? new URL(canonical, Astro.site)
	: new URL(Astro.url.pathname, Astro.site)
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preload" href={atomic} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={jost} as="font" type="font/woff2" crossorigin />

{
	preload?.map(({ href, as, type }) => (
		<link rel="preload" href={href} as={as} type={type} crossorigin />
	))
}

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="sion, streamers, creadores, Ibai, boxeo, midudev" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@IglesiaSionCoro" />
<meta name="twitter:creator" content="@danztts" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta name="og:image" content={new URL(image, Astro.url)} />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content={Astro.url} />
<meta name="og:site_name" content="Iglesia Sion" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png" />
<link rel="manifest" href="/img/icons/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
{
	!import.meta.env.DEV && (
		<>
			<link rel="manifest" href="/manifest.webmanifest" />
		</>
	)
}
