---
import type { LocationData, ServicesHoursData } from "../config/landing.interface"

interface Props {
	locationData: LocationData
	servicesHoursData: ServicesHoursData
}
const { locationData, servicesHoursData } = Astro.props
---

<div class="bg-white py-24 sm:py-32">
	<div class="mx-auto w-full px-6 lg:px-8">
		<div class="mx-auto lg:mx-0">
			<h2 class="text-3xl font-bold tracking-tight text-gray-900">{locationData.title}</h2>
			<p class="mt-6 text-lg leading-8 text-gray-600">{locationData.description}</p>
			<p class="text-lg leading-8 text-gray-600">{locationData.address}</p>
			<p class="text-lg leading-8 text-gray-600">{locationData.phone}</p>
		</div>
		<h2 class="mt-16 text-3xl font-bold tracking-tight text-gray-900">
			Nuestras instalaciones estan abiertas los dias:
		</h2>
		<div
			class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4"
		>
			{
				servicesHoursData.servicesHours.map((service) => (
					<div>
						<h3 class="font-semibold text-gray-900">{service.day}</h3>
						{service.hours.map((hour) => (
							<p class="mt-2 text-gray-600">{hour}</p>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
