---
import ButtonAction from "../components/ButtonAction.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import type { DiscipleshipData } from "@/config/landing.interface"

interface Props {
	data: DiscipleshipData
}

const { data } = Astro.props
---

<section>
	<SectionTitle>
		{data.title}
	</SectionTitle>
	<div
		class="flex w-full flex-col items-center justify-between gap-y-10 border-b border-gray-200 md:flex-row md:gap-x-7 md:gap-y-8"
	>
		<div class="flex w-11/12 flex-col gap-y-6">
			<p class="text-center text-lg md:text-start md:text-xl">
				{data.description}
			</p>
			<div class="justify-start">
				<ButtonAction data={data} />
			</div>
		</div>
		<div class="w-full justify-items-center gap-y-8">
			<figure>
				<img src={data.img} alt={data.imageAlt} class="w-fit rounded-2xl object-cover" />
			</figure>
		</div>
	</div>
</section>
