---
import Action from "@/components/ActionLanding.astro"
import Icon from "@/components/Icon.astro"
import type { FooterData, Icon as IconType } from "@/config/landing.interface"

interface Props {
	data: FooterData
}

const { data } = Astro.props
---

<footer class="flex w-full flex-col justify-center gap-y-8 bg-gray-900 pt-8 text-center text-white">
	<section>
		<Action
			as="a"
			type="text"
			class="flex items-center justify-center text-xl md:text-2xl"
			href="/"
		>
			<img class="mr-2 h-7" src="/img/icons/favicon-32x32.png" alt="Company name" />
			{data.logo}
		</Action>
	</section>
	<section>
		<p class="md:text-lg">
			{data.description}
		</p>
	</section>
	<section class="flex flex-row flex-wrap justify-center gap-x-3 px-4 md:px-0 md:text-xl">
		{
			data.links.map((link) => (
				<Action as="a" type="text" href={link.href}>
					{link.label}
				</Action>
			))
		}
	</section>
	<section class="mb-5 flex flex-row flex-wrap justify-center gap-x-3">
		{
			data.socials.map((social) => (
				<Action as="a" type="icon" href={social.href} title={social.icon}>
					<Icon icon={social.icon as IconType} />
				</Action>
			))
		}
	</section>
</footer>
